div.jqmNotice {
    display: none;
    clear: none;
    float: left;  
    position: fixed;
    
    width: 550px;
    background:#000000;
    border: 1px solid #FFF;
    padding: 0;
}

div.jqmnTitle {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 25px;
  padding: 2px;

  font-family: Arial, sans-serif;
  font-size: 12pt;

  color: #fff;
  background-color: #00a300;
  height: 1em;

  vertical-align: top;
}
  
div.jqmNotice img.jqResize {
    position: absolute;
    right: 2px;
    bottom: 2px;
}

div.jqmNotice img.jqmClose {
  position: absolute;
  cursor: pointer;
  right: 4px;
  top: 8px;
}

.jqmnContent {
  color:#fff;
  font-family: Arial, sans-serif;
  padding: 5px;
  padding-top: 12px;
}

.jqmnContent b {
  color: #cc0000;
}

