.depend
.cproject
.project
.settings
openbeacon-tracker
filter-singularsighting
filter-mongodb
mongodb-mongo-c-driver
mongodb-mongo-c-driver.tar.gz
src/custom-encryption-keys.h
callgrind.out.*
*.o
*~
